name: ci

on:
 push:
    branches: [ "main" ]
 pull_request:
    branches: [ "main" ]
 

 workflow_dispatch:


jobs:
build:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4
    - name: Tun a singl line script
      run: echo "Hello, World!"

    - name: Run a multi-line script
      run: |
      echo: Add otehr asctions
      echo: to build and deploy your projects
      
